body {
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  background-color: #fafafa;
  font-weight: 300;
}

a.abbr {
  color: green;
}

.patientapp.title {
  background: url(images/synopses-icon.png) no-repeat top left;
  background-size: auto 100%;
  padding-left: 60px;
  font-style: italic;
}

#loginscreen {
  background: rgba(255, 255, 255, 1);
  z-index: 1;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  opacity: 0;
  will-change: transform;
  transform: scale(0);
}

#loginscreen.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

#drawerPanel:not([narrow]) paper-scroll-header-panel [content] {
  padding: 30px 0;
}

#drawerPanel[narrow][selected="drawer"] .fade-on-drawer-open {
  opacity: 0;
}

.fade-on-drawer-open {
  transition: opacity 300ms ease-in-out;
}

#drawerPanel .sidepanel {
  background: #fafafa;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  color: #757575;
}

#drawerPanel .sidepanel .separator {
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  border-top: 1px solid #e0e0e0;
}

#drawerPanel .sidepanel paper-menu paper-icon-item {
  cursor: pointer;
}

#drawerPanel paper-scroll-header-panel::shadow #headerBg {
 background: url(images/headericons1.png) no-repeat 115% 56px;
 background-size: 200px;
 background-color: #e32d43;
}

#drawerPanel paper-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #e32d43;
  opacity: 1 !important; /* Prevents the background color from dissolving. */
}

paper-icon-item iron-icon {
  color: #757575;
}

paper-icon-item.iron-selected iron-icon {
  color: #212121;
}

#navheader {
  font-size: inherit;
  color: white;
}

#navheader iron-image {
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-color: #999;
  background-size: cover;
}

#navheader img.profile {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

#navheader .bottom :last-child {
  font-size: small;
  opacity: 0.8;
}

.shadowbox {
  color: #555;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.shadowbox record-thread {
  border-top: 1px solid #ccc;
}

#mainheader {
  color: #555;
  background-color: transparent;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.shadowbox #mainheader {
  box-shadow: none !important;
}

#mainheader .title {
  font-size: 20px;
  transform-origin: 0px 50%;
  margin-left: 0px;
}

#mainheader.tall .title {
  font-size: 40px;
  line-height: 50px;
}

#mainheader.selected-threads {

}

#mainheader .selected-item {
  visibility: hidden;
  will-change: transform;
  transform: rotateX(90deg);
  transition: transform 300ms ease-in-out;
  width: 0;
  padding: 0;
  margin: 0;
}

#mainheader paper-icon-button[icon="arrow-back"] {
  transform: translateX(-42px) rotateX(0);
}

#mainheader.selected-threads paper-icon-button[icon="arrow-back"] {
  transform: translateX(0) rotateX(0);
}

#mainheader.selected-threads .selected-item {
  visibility: visible;
  transform: rotateX(0);
  width: auto;
  margin: 0 8px;
  padding: 8px;
}

#mainheader.selected-threads paper-icon-button:not(.selected-item) {
  display: none;
}

#mainheader paper-dropdown {
  color: initial;
}

#mainheader.selected-threads paper-menu-button {
  padding: 0 !important;
}

paper-scroll-header-panel [content] {
  height: 100%;
}

#threadlist {
  display: block;
}

.action-menu, .action-icon {
  position: fixed;
  bottom: 0px;
  right: 24px;
  width: 158px;
  height: 304px;
  background-color: rgba(255,255,255,0.8);
}
.action-icon { bottom: 16px }

.action-menu label {
  position: absolute;
  right: 50px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 3px;
}

.action-menu paper-fab {
  right: 0px;
  position: absolute;
}

.action-menu label.favorite,
#fab-favorite {  bottom: 255px; }
.icon-favorite { background: #ff9800 !important; }

.action-menu label.pill,
#fab-pill {      bottom: 200px; }
.icon-pill {     background: #a95 !important; }

.action-menu label.event,
#fab-event {     bottom: 145px; }
.icon-event {    background: #4c4caf !important; }

.action-menu label.done,
#fab-done {      bottom: 90px; }
.icon-done {     background: #4caf50 !important; }

.action-menu label.create {
  bottom: 27px; right: 58px;
}
#fab, #fab-create { bottom: 16px; right: -8px;  }
#fab-create { background: rgb(211, 47, 47) !important; }
#fab { background: #633 !important; }

#fab {
  color: white;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

#fab.moveup {
  transform: translate3d(0, -48px, 0);
}

#navisible { color: #333; }
#navisible.active { color: #ccc; }

#refresh {
  position: absolute;
  z-index: -1;
  /*bottom: 10px;*/
  pointer-events: none;
  will-change: transform;
}

#refresh.snapback {
  transition: all 100ms ease-out;
  -webkit-transform: translate3d(0, 81px, 0);
  transform: translate3d(0, 81px, 0);
}

#refresh.snapback.tostart {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

#refresh.shrink {
  -webkit-transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
  transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
}

#refresh > div {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
}

#refresh paper-spinner {
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
}

iframe[src^="https://apis.google.com"] {
  display: none;
}

#patientdetails {
  background: white;
}

#patientdetails .justified .label {
  margin:0 0 0 1em;
  color: #999;
}

#patientdetails .justified .label * {
  color: #000;
}

#patientdetails .justified .label.patient_name {
  font-size: 120%;
}

#editpatient {
  background: #ddd !important;
}

#togglefilters {
  background: #aaa !important;
}
#togglefilters.active {
  background: #eee !important;
}

record-thread paper-fab {
  background-color: #eda !important;
}

#filters iron-icon {
  left: -6px;
  color: #ccc;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 375px) {
  #middleBar, #bottomBar { display: none; }
}
