html body {
  font-family: sans-serif;
}

#navheader, #mainheader {
  background-color: #a90d23;
}

#bottomBar {
  margin-left: 120px;
}

a.abbr {
  color: green;
}

.separator {
  padding: 8px;
  font-size: 90%;
}

.patientapp.title {
  background: url(../images/synopses-icon.png) no-repeat top left;
  background-size: auto 100%;
  padding-left: 60px;
  margin-left: 0px !important;
  font-size: 35px !important;
  font-family: 'Leto', sans-serif;
}

body #loading {
  background: url(../images/synopses-icon.png) no-repeat 50% 50%;
  background-size: auto;
  background-color: #fff;
  z-index: 1000;
}

#loginscreen {
  z-index: 1001;
  background: rgba(255, 255, 255, 1);
  transition: all 300ms ease-in-out;
  /*opacity: 0;
  visibility: hidden;
  will-change: transform;
  transform: scale(0);*/
}

#drawerPanel .sidepanel paper-menu paper-icon-item {
  cursor: pointer;
}

.shadowbox {
  color: #555;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.shadowbox record-thread {
  border-top: 1px solid #ccc;
}

.shadowbox #mainheader {
  box-shadow: none !important;
}

.welcome {
  padding: 0.1em 1em;
  background-color: #fff9c4;
  color: #444;
  z-index: 1;
}

.action-menu, .action-icon {
  position: fixed;
  bottom: 0px;
  right: 24px;
}
.action-extra {
  width: 158px;
  height: 304px;
  margin-right: -9px;
  background-color: rgba(255,255,255,0.8);
}
.action-icon { bottom: 16px }

.action-menu label {
  position: absolute;
  right: 50px;
  margin-bottom: 10px;
  background-color: #fafafa;
  padding: 3px;
}

.action-menu paper-fab {
  right: 0px;
  position: absolute;
}

.action-menu label.favorite,
#fab-favorite {  bottom: 255px; }
.icon-favorite { background: #ff9800 !important; }

.action-menu label.pill,
#fab-pill {      bottom: 200px; }
.icon-pill {     background: #a95 !important; }

.action-menu label.event,
#fab-event {     bottom: 145px; }
.icon-event {    background: #4c4caf !important; }

.action-menu label.done,
#fab-done {      bottom: 90px; }
.icon-done {     background: #4caf50 !important; }

.action-menu label.create {
  bottom: 27px; right: 58px;
}
#fab-create {
  background: rgb(211, 47, 47) !important;
  bottom: 22px; right: -8px;
}
#fab {
  background: #633 !important;
  bottom: 22px; right: 16px;
}

#navisible { color: #fff; }
#navisible.active { color: #c99; }


#patientdetails {
  background: white;
}

#patientdetails .justified .label {
  margin:0 0 0 1em;
  color: #999;
}

#patientdetails .justified .label * {
  color: #000;
}

#patientdetails .justified .label.patient_name {
  font-size: 120%;
}

#editpatient {
  background: #ddd !important;
}

#togglefilters {
  background: #fff !important;
  color: #000;
}

#togglefilters.active {
  background: transparent !important;
  color: #fff;
}

#filters {
  margin-left: 64px;
  margin-right: 110px;
}

#filters iron-icon {
  left: -6px;
  color: #eee;
}

#scrollheader > #mainContainer {
  padding-top: 64px !important;
}

#gotodashboard { z-index: 20; }

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 375px) {
  #middleBar, #bottomBar, .hint { display: none; }
  #scrollheader > #mainContainer,
  #dashheader > #mainContainer { top: 56px !important; padding-top: 0px !important; }
  #filters { display: none; }
  paper-dialog#dialog { max-width: 100% !important; margin:0 !important; }
}
